In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import seaborn as sns
plt.rcParams['font.family'] = 'Malgun Gothic'
# 폰트 설정 후 마이너스 기호 깨짐 방지
plt.rcParams['axes.unicode_minus'] = False

In [10]:
file_path = '../data/outer join.csv' 
df = pd.read_csv(file_path, encoding="utf-8")

In [11]:
# 전처리 전 상권 분포
print(df['HPSN_MCT_BZN_CD_NM'].value_counts())

성수            15862
왕십리           11073
뚝섬             9230
한양대            6866
마장동            5696
금남시장           5312
답십리            3598
옥수             2558
신금호            2082
행당             1839
장한평자동차          810
동대문역사문화공원역       24
건대입구             24
풍산지구             24
화양시장             24
서면역              24
방배역              24
압구정로데오           24
오남               16
자양               12
미아사거리            11
Name: HPSN_MCT_BZN_CD_NM, dtype: int64

In [12]:
df

,Unnamed: 0,ENCODED_MCT,TA_YM,MCT_OPE_MS_CN,RC_M1_SAA,RC_M1_TO_UE_CT,RC_M1_UE_CUS_CN,RC_M1_AV_NP_AT,APV_CE_RAT,DLV_SAA_RAT,...,RC_M1_SHC_WP_UE_CLN_RAT,RC_M1_SHC_FLP_UE_CLN_RAT,MCT_BSE_AR,MCT_NM,MCT_BRD_NUM,MCT_SIGUNGU_NM,HPSN_MCT_ZCD_NM,HPSN_MCT_BZN_CD_NM,ARE_D,MCT_ME_D
0,0,000F03E44A,202404,4_50-75%,5_75-90%,5_75-90%,5_75-90%,5_75-90%,1_상위1구간,-999999.9,...,12.5,75.0,서울특별시 성동구 왕십리로4가길 9,육육**,NaN,서울 성동구,중식-딤섬/중식만두,뚝섬,20220225.0,NaN
1,1,000F03E44A,202312,4_50-75%,6_90%초과(하위 10% 이하),6_90%초과(하위 10% 이하),6_90%초과(하위 10% 이하),6_90%초과(하위 10% 이하),NaN,-999999.9,...,-999999.9,-999999.9,서울특별시 성동구 왕십리로4가길 9,육육**,NaN,서울 성동구,중식-딤섬/중식만두,뚝섬,20220225.0,NaN
2,2,002816BA73,202404,2_10-25%,3_25-50%,4_50-75%,4_50-75%,2_10-25%,6_상위6구간(하위1구간),-999999.9,...,23.8,52.4,서울 성동구 청계천로10나길 78,자갈***********,NaN,서울 성동구,요리주점,마장동,20140507.0,NaN
3,3,002816BA73,202411,2_10-25%,3_25-50%,4_50-75%,4_50-75%,2_10-25%,6_상위6구간(하위1구간),-999999.9,...,11.5,76.9,서울 성동구 청계천로10나길 78,자갈***********,NaN,서울 성동구,요리주점,마장동,20140507.0,NaN
4,4,002816BA73,202406,2_10-25%,4_50-75%,4_50-75%,4_50-75%,2_10-25%,1_상위1구간,-999999.9,...,17.4,69.6,서울 성동구 청계천로10나길 78,자갈***********,NaN,서울 성동구,요리주점,마장동,20140507.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86896,86896,29421280E6,202408,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,34.2,55.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86897,86897,7163461E10,202409,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,35.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86898,86898,5078575E67,202407,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.8,68.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86899,86899,8866726E15,202401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.1,44.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86900,86900,42994169E6,202408,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.1,66.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 전처리하기 전 데이터셋2,3에 없는 데이터 삭제

In [13]:
df = df.dropna(subset=["MCT_OPE_MS_CN"])
df

,Unnamed: 0,ENCODED_MCT,TA_YM,MCT_OPE_MS_CN,RC_M1_SAA,RC_M1_TO_UE_CT,RC_M1_UE_CUS_CN,RC_M1_AV_NP_AT,APV_CE_RAT,DLV_SAA_RAT,...,RC_M1_SHC_WP_UE_CLN_RAT,RC_M1_SHC_FLP_UE_CLN_RAT,MCT_BSE_AR,MCT_NM,MCT_BRD_NUM,MCT_SIGUNGU_NM,HPSN_MCT_ZCD_NM,HPSN_MCT_BZN_CD_NM,ARE_D,MCT_ME_D
0,0,000F03E44A,202404,4_50-75%,5_75-90%,5_75-90%,5_75-90%,5_75-90%,1_상위1구간,-999999.9,...,12.5,75.0,서울특별시 성동구 왕십리로4가길 9,육육**,NaN,서울 성동구,중식-딤섬/중식만두,뚝섬,20220225.0,NaN
1,1,000F03E44A,202312,4_50-75%,6_90%초과(하위 10% 이하),6_90%초과(하위 10% 이하),6_90%초과(하위 10% 이하),6_90%초과(하위 10% 이하),NaN,-999999.9,...,-999999.9,-999999.9,서울특별시 성동구 왕십리로4가길 9,육육**,NaN,서울 성동구,중식-딤섬/중식만두,뚝섬,20220225.0,NaN
2,2,002816BA73,202404,2_10-25%,3_25-50%,4_50-75%,4_50-75%,2_10-25%,6_상위6구간(하위1구간),-999999.9,...,23.8,52.4,서울 성동구 청계천로10나길 78,자갈***********,NaN,서울 성동구,요리주점,마장동,20140507.0,NaN
3,3,002816BA73,202411,2_10-25%,3_25-50%,4_50-75%,4_50-75%,2_10-25%,6_상위6구간(하위1구간),-999999.9,...,11.5,76.9,서울 성동구 청계천로10나길 78,자갈***********,NaN,서울 성동구,요리주점,마장동,20140507.0,NaN
4,4,002816BA73,202406,2_10-25%,4_50-75%,4_50-75%,4_50-75%,2_10-25%,1_상위1구간,-999999.9,...,17.4,69.6,서울 성동구 청계천로10나길 78,자갈***********,NaN,서울 성동구,요리주점,마장동,20140507.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86585,86585,A2D9C941A9,202304,5_75-90%,2_10-25%,1_10%이하,1_10%이하,6_90%초과(하위 10% 이하),2_상위2구간,2.6,...,4.3,24.4,서울특별시 성동구 행당로5길 2,메가***********,커피전문점2,서울 성동구,커피전문점,NaN,20220823.0,NaN
86586,86586,A7C2307794,202303,2_10-25%,2_10-25%,2_10-25%,2_10-25%,3_25-50%,1_상위1구간,19.2,...,7.4,55.9,서울 성동구 한림말1길 8.,콩물*****,NaN,서울 성동구,한식-두부요리,옥수,20140508.0,NaN
86587,86587,BF6A6456AB,202407,6_90%초과(하위 10% 이하),2_10-25%,4_50-75%,4_50-75%,1_10%이하,6_상위6구간(하위1구간),1.6,...,41.7,41.7,서울특별시 성동구 상원4길 11,우아**,NaN,서울 성동구,한식-육류/고기,뚝섬,20240131.0,20250724.0
86588,86588,C59F032CAC,202406,1_10%이하,2_10-25%,2_10-25%,2_10-25%,4_50-75%,2_상위2구간,24.0,...,11.3,48.7,서울 성동구 왕십리로 223-1,밸런***,샌드위치/토스트1,서울 성동구,샌드위치/토스트,한양대,20090421.0,NaN
86589,86589,F46D45E328,202302,2_10-25%,2_10-25%,3_25-50%,3_25-50%,3_25-50%,1_상위1구간,12.8,...,25.0,50.0,서울 성동구 용답중앙15길 13.,미*,NaN,서울 성동구,중식당,답십리,20131128.0,NaN

In [14]:
df = df.dropna(subset=["M12_MAL_1020_RAT"])
df

,Unnamed: 0,ENCODED_MCT,TA_YM,MCT_OPE_MS_CN,RC_M1_SAA,RC_M1_TO_UE_CT,RC_M1_UE_CUS_CN,RC_M1_AV_NP_AT,APV_CE_RAT,DLV_SAA_RAT,...,RC_M1_SHC_WP_UE_CLN_RAT,RC_M1_SHC_FLP_UE_CLN_RAT,MCT_BSE_AR,MCT_NM,MCT_BRD_NUM,MCT_SIGUNGU_NM,HPSN_MCT_ZCD_NM,HPSN_MCT_BZN_CD_NM,ARE_D,MCT_ME_D
0,0,000F03E44A,202404,4_50-75%,5_75-90%,5_75-90%,5_75-90%,5_75-90%,1_상위1구간,-999999.9,...,12.5,75.0,서울특별시 성동구 왕십리로4가길 9,육육**,NaN,서울 성동구,중식-딤섬/중식만두,뚝섬,20220225.0,NaN
1,1,000F03E44A,202312,4_50-75%,6_90%초과(하위 10% 이하),6_90%초과(하위 10% 이하),6_90%초과(하위 10% 이하),6_90%초과(하위 10% 이하),NaN,-999999.9,...,-999999.9,-999999.9,서울특별시 성동구 왕십리로4가길 9,육육**,NaN,서울 성동구,중식-딤섬/중식만두,뚝섬,20220225.0,NaN
2,2,002816BA73,202404,2_10-25%,3_25-50%,4_50-75%,4_50-75%,2_10-25%,6_상위6구간(하위1구간),-999999.9,...,23.8,52.4,서울 성동구 청계천로10나길 78,자갈***********,NaN,서울 성동구,요리주점,마장동,20140507.0,NaN
3,3,002816BA73,202411,2_10-25%,3_25-50%,4_50-75%,4_50-75%,2_10-25%,6_상위6구간(하위1구간),-999999.9,...,11.5,76.9,서울 성동구 청계천로10나길 78,자갈***********,NaN,서울 성동구,요리주점,마장동,20140507.0,NaN
4,4,002816BA73,202406,2_10-25%,4_50-75%,4_50-75%,4_50-75%,2_10-25%,1_상위1구간,-999999.9,...,17.4,69.6,서울 성동구 청계천로10나길 78,자갈***********,NaN,서울 성동구,요리주점,마장동,20140507.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86585,86585,A2D9C941A9,202304,5_75-90%,2_10-25%,1_10%이하,1_10%이하,6_90%초과(하위 10% 이하),2_상위2구간,2.6,...,4.3,24.4,서울특별시 성동구 행당로5길 2,메가***********,커피전문점2,서울 성동구,커피전문점,NaN,20220823.0,NaN
86586,86586,A7C2307794,202303,2_10-25%,2_10-25%,2_10-25%,2_10-25%,3_25-50%,1_상위1구간,19.2,...,7.4,55.9,서울 성동구 한림말1길 8.,콩물*****,NaN,서울 성동구,한식-두부요리,옥수,20140508.0,NaN
86587,86587,BF6A6456AB,202407,6_90%초과(하위 10% 이하),2_10-25%,4_50-75%,4_50-75%,1_10%이하,6_상위6구간(하위1구간),1.6,...,41.7,41.7,서울특별시 성동구 상원4길 11,우아**,NaN,서울 성동구,한식-육류/고기,뚝섬,20240131.0,20250724.0
86588,86588,C59F032CAC,202406,1_10%이하,2_10-25%,2_10-25%,2_10-25%,4_50-75%,2_상위2구간,24.0,...,11.3,48.7,서울 성동구 왕십리로 223-1,밸런***,샌드위치/토스트1,서울 성동구,샌드위치/토스트,한양대,20090421.0,NaN
86589,86589,F46D45E328,202302,2_10-25%,2_10-25%,3_25-50%,3_25-50%,3_25-50%,1_상위1구간,12.8,...,25.0,50.0,서울 성동구 용답중앙15길 13.,미*,NaN,서울 성동구,중식당,답십리,20131128.0,NaN

In [8]:
df.isnull().sum()

Unnamed: 0                      0
ENCODED_MCT                     0
TA_YM                           0
MCT_OPE_MS_CN                   0
RC_M1_SAA                       0
RC_M1_TO_UE_CT                  0
RC_M1_UE_CUS_CN                 0
RC_M1_AV_NP_AT                  0
APV_CE_RAT                   6609
DLV_SAA_RAT                     0
M1_SME_RY_SAA_RAT               0
M1_SME_RY_CNT_RAT               0
M12_SME_RY_SAA_PCE_RT           0
M12_SME_BZN_SAA_PCE_RT          0
M12_SME_RY_ME_MCT_RAT           0
M12_SME_BZN_ME_MCT_RAT          0
M12_MAL_1020_RAT                0
M12_MAL_30_RAT                  0
M12_MAL_40_RAT                  0
M12_MAL_50_RAT                  0
M12_MAL_60_RAT                  0
M12_FME_1020_RAT                0
M12_FME_30_RAT                  0
M12_FME_40_RAT                  0
M12_FME_50_RAT                  0
M12_FME_60_RAT                  0
MCT_UE_CLN_REU_RAT              0
MCT_UE_CLN_NEW_RAT              0
RC_M1_SHC_RSD_UE_CLN_RAT        0
RC_M1_SHC_WP_UE_CLN_RAT         0
RC_M1_SHC_FLP_UE_CLN_RAT        0
MCT_BSE_AR                      0
MCT_NM                          0
MCT_BRD_NUM                 74626
MCT_SIGUNGU_NM                  0
HPSN_MCT_ZCD_NM                 0
HPSN_MCT_BZN_CD_NM          21288
ARE_D                           0
MCT_ME_D                    83945
dtype: int64

### 가맹점 주소 전처리

In [15]:
## 주소 전처리 (상권 컬럼의 결측치 값을 채우기 위해서)

# 1. 주소 정규화
df['MCT_BSE_AR_CLEAN'] = df['MCT_BSE_AR'].str.replace('서울 ', '서울특별시').str.strip()

# 2. '핵심주소' 추출
# '성동구' 다음에 나오는, '동' '로' '길'로 끝나는 단어를 정규 표현식으로 추출
# (r'성동구\s+([\w\d.-]+[동|로|길])')
#   - 성동구\s+ : '성동구'와 하나 이상의 공백
#   - ( ... )   : 괄호 안의 패턴을 추출
#   - [\w\d.-]+ : 숫자, 문자, 점(.), 하이픈(-)이 하나 이상 반복
#   - [동|로|길] : '동', '로', '길' 중 하나로 끝나는 패턴
df['핵심주소'] = df['MCT_BSE_AR_CLEAN'].str.extract(r'성동구\s+([\w\d.-]+[동|로|길])')

# 3. 결과 확인
print("--- 정규 표현식을 이용한 핵심주소 추출 결과 ---")
# 문제가 되었던 주소와 비슷한 예시들을 포함하여 확인
problematic_address = pd.DataFrame({'MCT_BSE_AR': ['서울 성동구 청계천로10나길 78', '서울특별시 성동구 왕십리로 410', '서울 성동구 마장동']})
problematic_address['핵심주소'] = problematic_address['MCT_BSE_AR'].str.replace('서울 ', '서울특별시').str.strip().str.extract(r'성동구\s+([\w\d.-]+[동|로|길])')
print(problematic_address)


print("\n--- 실제 데이터 상위 5개 결과 ---")
print(df[['MCT_BSE_AR', '핵심주소']].head())

print("\n--- 새로 생성된 '핵심주소' 컬럼의 분포 ---")
print(df['핵심주소'].value_counts().head(10))

<ipython-input-15-365ae4328ba1>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['MCT_BSE_AR_CLEAN'] = df['MCT_BSE_AR'].str.replace('서울 ', '서울특별시').str.strip()

--- 정규 표현식을 이용한 핵심주소 추출 결과 ---
           MCT_BSE_AR      핵심주소
0  서울 성동구 청계천로10나길 78  청계천로10나길
1  서울특별시 성동구 왕십리로 410      왕십리로
2          서울 성동구 마장동       마장동

--- 실제 데이터 상위 5개 결과 ---
            MCT_BSE_AR      핵심주소
0  서울특별시 성동구 왕십리로4가길 9   왕십리로4가길
1  서울특별시 성동구 왕십리로4가길 9   왕십리로4가길
2   서울 성동구 청계천로10나길 78  청계천로10나길
3   서울 성동구 청계천로10나길 78  청계천로10나길
4   서울 성동구 청계천로10나길 78  청계천로10나길

--- 새로 생성된 '핵심주소' 컬럼의 분포 ---
왕십리로    4719
독서당로    2921
마장로     2739
마조로     2307
성덕정길    2108
금호로     1775
행당로     1708
장터길     1587
성수이로    1562
고산자로    1469
Name: 핵심주소, dtype: int64

<ipython-input-15-365ae4328ba1>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['핵심주소'] = df['MCT_BSE_AR_CLEAN'].str.extract(r'성동구\s+([\w\d.-]+[동|로|길])')

In [10]:
df['핵심주소']

0         왕십리로4가길
1         왕십리로4가길
2        청계천로10나길
3        청계천로10나길
4        청계천로10나길
           ...
86585       행당로5길
86586       한림말1길
86587        상원4길
86588        왕십리로
86589     용답중앙15길
Name: 핵심주소, Length: 86279, dtype: object

### 상권 전처리

In [16]:
# --- 1단계: 마지막 키워드를 반영한 최종 규칙 ---
bzn_keyword_map = {
    '성수': ['성수', '뚝섬로', '서울숲', '연무장', '아차산로', '광나루로', '동일로', '송정', '성덕정', '둘레'],
    '왕십리': ['왕십리', '행당', '무학', '고산자로', '난계로', '청계천로', '왕십리도선동', '홍익동'],
    '뚝섬': ['뚝섬'],
    '한양대': ['한양대', '사근동'],
    '마장동': ['마장동', '마장로', '마조로', '살곶이', '장터'], 
    '금남시장': ['금남시장', '금호', '동호로'],
    '답십리': ['답십리', '용답', '전농'],
    '옥수': ['옥수동', '옥수', '독서당로', '매봉길', '응봉'],
    '신금호': ['신금호'],
    '행당': ['행당동'],
    '장한평자동차': ['장한평', '자동차시장길']
}

# --- 2단계: 최종 규칙으로 결측치 채우기 ---
for bzn_name, keywords in bzn_keyword_map.items():
    for keyword in keywords:
        df.loc[
            df['HPSN_MCT_BZN_CD_NM'].isnull() & df['핵심주소'].str.contains(keyword, na=False),
            'HPSN_MCT_BZN_CD_NM'
        ] = bzn_name

# --- 3단계: 남은 결측치는 '기타'로 최종 처리 ---
# 강남구 -> 기타로 처리
df['HPSN_MCT_BZN_CD_NM'].fillna('기타', inplace=True)


# --- 4단계: 최종 결과 확인 ---
print("--- 최종 규칙 적용 후 상권 분포 ---")
print(df['HPSN_MCT_BZN_CD_NM'].value_counts())
print(f"\n최종 상권 Null 개수: {df['HPSN_MCT_BZN_CD_NM'].isnull().sum()}")

c:\Users\Administrator\anaconda3\dev\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

--- 최종 규칙 적용 후 상권 분포 ---
성수            22994
왕십리           17581
마장동           10407
뚝섬             9194
한양대            7021
금남시장           6322
옥수             4069
답십리            3689
신금호            2058
행당             1839
장한평자동차          874
서면역              24
건대입구             24
풍산지구             24
동대문역사문화공원역       24
화양시장             24
방배역              24
기타               24
압구정로데오           24
오남               16
자양               12
미아사거리            11
Name: HPSN_MCT_BZN_CD_NM, dtype: int64

최종 상권 Null 개수: 0

c:\Users\Administrator\anaconda3\dev\lib\site-packages\pandas\core\series.py:4517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(